<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BannerImage" value="Default"/>
		<add key="LogoImage" value="None"/>
		<add key="EULA" value="Resources\EULA.rtf"/>
		<add key="SolutionId" value="9DFD76CF-1709-406F-BDCF-68C3F52B914E"/>
		<add key="ProductKey" value="618D6E1E-1AD5-47b1-AE7B-9CA322425174"/>
		<add key="FarmFeatureId" value=""/>
		<add key="SolutionFile" value="Resources\CKEditorForSharePoint.wsp"/>
		<add key="SolutionTitle" value="CKEditor for SharePoint"/>
		<add key="SolutionVersion" value="1.0.0.0"/>
		<add key="SecurityLibrary" value=""/>
		<add key="FeatureScope" value="Site"/>
		<add key="FeatureId" value="B037B4BD-28F1-46D3-AA4C-F569BB4EBFE0"/>
		<add key="UpgradeDescription" value="Upgrades {SolutionTitle} on all frontend web servers in the SharePoint farm."/>
		<add key="RequireDeploymentToCentralAdminWebApplication" value="false"/>
		<add key="RequireDeploymentToAllContentWebApplications" value="false"/>
		<add key="KeepSettingsOnRepairOrUpgrade" value="true"/>
	</appSettings>
</configuration>